<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<h1><%= title %></h1>

<% data.forEach(post => { %>
    <p><strong>Plant Name:</strong> <%= post.name %> (<%= post.name_status %>)</p>
    <p><strong>Description: </strong> <%= post.description %></p>

    <% if (post.image) { %>
        <img src="<%= post.img%>" width="200" height="200">
    <% } %>

    <p><strong>Height: </strong> <%= post.height %></p>
    <p><strong>Spread: </strong> <%= post.spread %></p>

    <p><strong>Leaves (Y/N): </strong> <%= post.leaves %></p>
    <p><strong>Flowers (Y/N): </strong> <%= post.flowers %></p>
    <p><strong>Flower Colour: </strong> <%= post.flower_colour %></p>

    <p><strong>Fruit or Seeds: </strong> <%= post.fruit_seeds %></p>
    <p><strong>Sun Exposure: </strong> <%= post.sun_exposure %></p>

    <p><strong>Location: </strong> <%= post.location %></p>
    <p><strong>Date of Sighting: </strong> <%= post.date_of_sighting %></p>
    <p><strong>Plant Poster:</strong> <%= post.nickname %></p>

    <hr>
<% }); %>
<hr>
<a href="/add"><p>Add New Plant</p></a>
</body>
</html>