<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
<h1><%= title %></h1>

<% data.forEach(plant => { %>
    <p><strong>Plant Name:</strong> <%= plant.name %> (<%= plant.nameStatus %>)</p>
    <p><strong>Description: </strong> <%= plant.description %></p>

    <% if (plant.image) { %>
        <img src="<%= plant.img%>" width="200" height="200">
    <% } %>

    <p><strong>Height: </strong> <%= plant.height %></p>
    <p><strong>Spread: </strong> <%= plant.spread %></p>

    <p><strong>Leaves (Y/N): </strong> <%= plant.leaves %></p>
    <p><strong>Flowers (Y/N): </strong> <%= plant.flowers %></p>
    <p><strong>Flower Colour: </strong> <%= plant.flowerColour %></p>

    <p><strong>Fruit or Seeds: </strong> <%= plant.fruitSeeds %></p>
    <p><strong>Sun Exposure: </strong> <%= plant.sunExposure %></p>

    <p><strong>Location: </strong> <%= plant.location %></p>
    <p><strong>Date of Sighting: </strong> <%= plant.dateOfSighting %></p>
    <p><strong>Plant Poster:</strong> <%= plant.nickname %></p>

    <hr>
<% }); %>
<hr>
<a href="/add"><p>Add New Plant</p></a>
</body>
</html>